[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "texmex"]
	path = texmex
	url = https://github.com/harrysouthworth/texmex
	shallow = true
	registered = true
